<h1>Listing Tweets</h1>


<br />
Get the most recent tweets from the Timeline


<br/><br/>
<% if current_user%>
	<% @most_recent_tweets.each do |tweet| %>
		<%= tweet["attrs"]["text"] %><br />
	<% end %>
<% end %>